<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mutualmobile.mmleave">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MMInternalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/mm_splash_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mm_splash_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMLeave">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MMLeave.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>